html{
    font-family: 'Oxygen', sans-serif;

}

body{
    background-color: whitesmoke;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    margin-bottom: 60px;
}

.sub-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    height: 100vh;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0, 25)0px 13px 27px -5px,
    rgba(0,0,0,0.3) 0px 8px 16px -8px;
    background-color: black;
    color: whitesmoke;
   
}

h1 {
    margin: 1.5rem 0 2rem 0;
    text-align: center;
}

label {
    padding-left: 16px;
    opacity: 0.75;
}
input {
    display: flex;
    border-radius: 40px;
    border-style: none;
    outline: none;
    margin-top: 8px;
    padding: 12px 24px;
    width: 250px;
    background-color: #f4f4f9;
}
input:focus {
    opacity: 0.7;
}
button {
    padding: 12px 50px;
    border-radius: 50px;
    color: black;
    margin-top: 1rem;
    cursor: pointer;
    outline: none;
    border-width: 600;
    background-color: whitesmoke;
    font-weight: 600;
    width: 100%;
}


button :hover {
    opacity: 0.8;
}

.bottom-form {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.signup{
    padding-left: 5px;
    text-decoration: none;
    cursor: pointer;
    color: #21D4FD;

}

.signup:hover{
    opacity: 0.8;
}

#Datos{
    background-color: #1A1B27;
    margin-top: 100px;
}
